<div class="home-container">
    <h1 class="heading">Welcome {{userName}}...</h1>
    <div class="d-flex flex-row justify-content-center" style="margin-top: 5vh;">
        
        <button class="btn btn-primary custom-btn" (click)="start()">Get Started ></button>
    </div>
    <div>
        <h1 class="home-heading">Description :</h1>
        <p class="home-para">Trade File Management System that allows users to securely upload files, store them in a database, and perform various operations on them. It streamlines file handling, ensuring efficient storage, retrieval, and processing while maintaining data integrity.</p>
        <h1 class="home-heading">Tools :</h1>
        <ol class="listItems home-para">
            <li>Backend: Java with Spring Boot</li>
            <li>Frontend: Angular</li>
            <li>Database: MySQL</li>
        </ol>
        
    </div>
    <div class="copyright-container">
        <h1 class="copyRight-heading">© Abhinay</h1>
    </div>
    
</div>
